// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025 Kontron Europe GmbH
 */

#include "k3-am67a-kontron-sa67-binman.dtsi"

/ {
	chosen {
		tick-timer = &main_timer0;
	};
};


&crypto {
	rng: rng@40910000 {
		compatible = "inside-secure,safexcel-eip76";
		reg = <0x00 0x40910000 0x0 0x7d>;
		interrupts = <GIC_SPI 129 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&dmsc {
	bootph-pre-ram;
};

&main_bcdma {
	bootph-pre-ram;
};
